@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-futura;
  }
}

@layer utilities {
  .scrollbar-medium::-webkit-scrollbar {
    width: 0.25rem;
  }
  .calendar-icon::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url("../images/calendar_circle.svg") no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
  }
}

/** Light **/
@font-face {
  font-family: "futura_ptlight";
  src: url("../fonts/futura/futura-pt-light.woff") format("woff"), 
       url("../fonts/futura/futura-pt-light.woff2") format("woff2");
}

/** Medium **/
@font-face {
  font-family: "futura_ptmedium";
  src: url("../fonts/futura/futuraptmedium.woff") format("woff"),
       url("../fonts/futura/futuraptmedium.woff2") format("woff2");
}

/** Heavy **/
@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/futuraptheavy.woff") format("woff"),
       url("../fonts/futura/futuraptheavy.woff2") format("woff2");
}

/** Demi **/
@font-face {
  font-family: "futura_ptdemi";
  src: url("../fonts/futura/futuraptdemi.woff") format("woff"),
       url("../fonts/futura/futuraptdemi.woff2") format("woff2");
}

/** Book **/
@font-face {
  font-family: "futura_ptbook";
  src: url("../fonts/futura/futuraptbook.woff") format("woff"),
       url("../fonts/futura/futuraptbook.woff2") format("woff2");
}

/** Bold **/
@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/futuraptbold.woff") format("woff"),
       url("../fonts/futura/futuraptbold.woff2") format("woff2");
}



